<div class="container">

  <div class="feature-space col-sm-8 col-sm-offset-2">

    <h2>My Submissions</h2>

     <table id="activity-submissions" class="table">
      <tr id="table-headings">
        <th>Activity</th>
        <th>Desc</th>
        <th>Link</th>
      </tr>
      <% @submitted.each do |submission| %>
        <tr>
          <td><%= submission.name %></td>
          <td><%= submission.blurb.truncate(50, separator: ' ') %></td>
          <td><%= submission.url.truncate(50) %></td>
        </tr>
      <% end %>
    </table>

  </div>

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= link_to "Suggest another activity!", new_activity_path, class: 'btn btn-primary btn-lg' %> &nbsp;&nbsp;&nbsp;
    <%= link_to "Go on another adventure!", root_path, class: 'btn btn-success btn-lg' %>
  </div>

</div>
