<div class="container">

  <div class="feature-space col-sm-8 col-sm-offset-2">
    <h2><%= @activity.name %></h2>

    <p id="blurb">Description: <%= @activity.blurb %></p>
    <p id="url">More info: <%= link_to @activity.url, @activity.url %></p>
    <p id="things-needed">Things You'll Need: <%= @activity.things_needed %></p>
    <div id="google-map" class="text-center"><%= @activity.map.html_safe %> </div>

  </div>

  <div id="submit-again" class="col-sm-6 col-sm-offset-3 text-center">
    <%= link_to "Submit Another Activity", new_activity_path, class: "btn btn-primary btn-lg" %>
  </div>

</div>


