<!DOCTYPE html>
<html>
<head>
  <title> Do Me! - Boston </title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Aclonica' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Oxygen:400,300' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div id="navbar-container">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", activities_about_path %></li>
        <li><%= link_to "Suggest an activity", new_activity_path %> </li>
        <% if user_signed_in? %>
          <li><%= link_to('Your suggestions', activities_path) %> </li>
          <li><%= link_to "Your adventures", user_adventures_path %> </li>
          <li data-user-id="<%= current_user.id %>" id="user-info" class="navbar-text">
            Signed in as <%= current_user.email %>
          </li>
          <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Sign in', new_user_session_path) %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div id="flash-alert" class="container">
    <div class="row col-sm-10 col-sm-offset-1">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %> fade in">
            <%= value %>
          </div>
        <% end %>
    </div>
  </div>

  <%= yield %>

</body>
</html>


