<!DOCTYPE html>
<html>
<head>
  <title>DoMe</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %> |</li>
      <li><%= link_to "About", activities_about_path %> |</li>
      <li><%= link_to "Suggest an activity", new_activity_path %> | </li>
      <% if user_signed_in? %>
        <li><%= link_to('Your suggestions', activities_path) %> | </li>
        <li><%= link_to "Your adventures", user_adventures_path %> | </li>
        <li data-user-id="<%= current_user.id %>" id="user-info">
          Signed in as <%= current_user.email %> |
        </li>
        <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li><%= link_to('Sign in', new_user_session_path) %></li>
      <% end %>

    </ul>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p class="error"><%= flash[:error] %></p>


  <%= yield %>

</body>
</html>


